# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars.backup

# Crash logs
crash.log

# Sensitive files
*.pem
*.key
*.tar.gz

# Terraform environment values - never commit real values
terraform.tfvars

# Zip file for Lambda
canary.zip
